<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tâm sự tuổi mới lớn</title>
    <link rel="stylesheet" href="displayCss.css">
</head>
<body>
<h3>Blog vip pro</h3>
<form action="/" method="get">
    <input type="text" name="search" placeholder="Tên tác giả" th:value="${search}">
    <button type="submit">Tìm kiếm</button>
</form>
<a href="/create">Thêm bài viết</a>
<div th:each="blog: ${blogList.getContent()}">
    <p>Ngày tạo : <span th:text="${blog.getCreateDate()}"></span></p>
    <p>Tác giả : <span th:text="${blog.getOwn()}"></span></p>
    <p>Loại : <span th:text="${blog.getCategory()}"></span></p>
    <p>Nội dung : <span th:text="${blog.getContent()}"></span></p>
    <a th:href="@{'/edit/' + ${blog.getId()}}">Sửa bài viết</a>
    <a th:href="@{'/delete/' + ${blog.getId()}}">Xóa bài viết</a>
</div>
<a th:if="${blogList.hasPrevious()}" th:href="@{'/?page=' + ${blogList.getNumber() - 1}}">Previous</a>
<span th:text="'page ' + ${blogList.getNumber() + 1} + '/' + ${blogList.getSize()}"></span>
<a th:if="${blogList.hasNext()}" th:href="@{'/?page=' + ${blogList.getNumber() + 1}}">Next</a>

</body>
</html>