<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/product" style="text-decoration: none"><h1>PRODUCT MANAGEMENT</h1></a>
<a href="/product/create"><button class="btn-primary my-3 mx-5">ADD NEW PRODUCT</button></a>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<form class="d-flex mb-3 mx-5" action="/product/search" method="get">
    <input th:value="${name}" name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

   <table class="table table-striped">
       <tr>
           <th>
               No.
           </th>
           <th>
               Name
           </th>
           <th>
               Price
           </th>
           <th>
               Description
           </th>
           <th>
               Manufacturer
           </th>
           <th>
               Detail
           </th>
           <th>
               Edit
           </th>
           <th>
               Delete
           </th>
       </tr>
       <tr th:each="product, status : ${productList}">
           <td th:text="${status.count}"></td>
           <td th:text="${product.getName()}"></td>
           <td th:text="${product.getPrice()}"></td>
           <td th:text="${product.getDescription()}"></td>
           <td th:text="${product.getManufacturer()}"></td>
           <td><a th:href="@{/product/detail(id=${product.getId()})}">
               <button type="button" class="btn btn-sm btn-outline-primary">
                   Detail
               </button>
           </a></td>
           <td><a th:href="@{/product/edit(id=${product.getId()})}">
               <button type="button" class="btn btn-sm btn-outline-warning">
                   Edit
               </button>
           </a></td>
           <td>
               <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                       data-bs-target="#deleteModal"
                       th:onclick="'deleteProduct(\''+${product.id}+'\',\''+${product.name}+'\')'">Delete
               </button>
           </td>
       </tr>
       <tr th:colspan="8" th:if="${productList.isEmpty()}" th:text="Chưa có sản phẩm nào."></tr>
   </table>

<!--MODAL-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/product/delete" method="get">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Product:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete <span id="name"></span>?
                    <input hidden id="id" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteProduct(id, name) {
        document.getElementById("id").value=id;
        document.getElementById("name").innerText=name;
    }
</script>
<!--=======================================================================================-->

</body>
</html>