<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="/layout::header"></header>
<a href="/blog/create">
    <button type="button" class="btn btn-primary" id="liveToastBtn">Thêm mới</button>
</a>

<!--<div class="notify">-->
<!--    <div th:if="${success}">-->
<!--        <span th:text="${success}"></span>-->
<!--    </div>-->
<!--</div>-->

<div th:block th:if="${success}">
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body" th:text="${success}">

            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


<table class="table table-striped">
    <tr th:each="blog,status : ${blogList}">
        <td th:text="${status.count}">

        </td>
        <td>
            <a th:href="@{/blog/detail(id=${blog.getId()})}" th:text="${blog.name}"></a>
        </td>
        <td th:text="${blog.category.getName()}">

        </td>
        <td>
            <a th:href="@{/blog/edit(id=${blog.getId()})}">
                <button type="button" class="btn btn-sm btn-outline-primary">
                    Sửa
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{/blog/delete(id=${blog.getId()})}"
               data-bs-toggle="modal"
               data-bs-target="#deleteModal"
               th:attr="data-id=${blog.getId()}, data-name=${blog.getName()}"
               onclick="deleteBlog(this)"
            >
                <button type="button" class="btn btn-sm btn-outline-danger">
                    Xoá
                </button>
            </a>
        </td>
    </tr>
</table>

<!--MODAL-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/blog/delete" method="get">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Xoá blog?:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete <span id="name"></span>?
                    <input hidden id="id" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-sm btn-danger">Xoá</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteBlog(element) {
        let id = element.getAttribute('data-id');
        let name = element.getAttribute('data-name');
        document.getElementById("name").innerHTML = name;
        document.getElementById("id").value = id;
    }
</script>

<script>
    function submitForm() {
        document.getElementById("filterForm").submit();
    }
</script>
<!--=======================================================================================-->
</body>
</html>