<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="my-4" style="padding: 0 25%">
    <figure>
        <blockquote class="blockquote">
            <p style="font-size: 50px">Add new song</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Music for life
        </figcaption>
    </figure>

    <form action="/validate" method="get" th:object="${songDto}">

        <div class="mb-3">
            <label for="name" class="form-label">Song's Name:</label>
            <input th:field="*{name}" type="text" class="form-control" id="name" aria-describedby="emailHelp">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></div>
        </div>


        <div class="mb-3">
            <label for="singer" class="form-label">Singer:</label>
            <input th:field="*{singer}" type="text" class="form-control" id="singer" aria-describedby="emailHelp">
            <div th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}" class="form-text text-danger"></div>
        </div>


        <div class="mb-3">
            <label for="genre" class="form-label">Genre:</label>
            <input th:field="*{genre}" type="text" class="form-control" id="genre" aria-describedby="emailHelp">
            <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="form-text text-danger"></div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>